{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMDB</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">

</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Weekend</th>
                    <th>Gross</th>
                    <th>Weeks</th>
                </tr>
            </thead>
            <tbody>
                {% for item in result %}
                    <tr>
                        <td><img src="{{item.image}}" alt=""></td>
                        <td>{{item.title}}</td>
                        <td>{{item.weekend}}</td>
                        <td>{{item.gross}}</td>
                        <td>{{item.weeks}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>