{% extends 'base.html' %}

{% block content %}
<table class="striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Weekend</th>
            <th>Gross</th>
            <th>Weeks</th>
        </tr>
    </thead>
    <tbody>
        {% for item in result %}
            <tr>
                <td><img src="{{item.image}}" alt=""></td>
                <td>{{item.title}}</td>
                <td>{{item.weekend}}</td>
                <td>{{item.gross}}</td>
                <td>{{item.weeks}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}